* {
    margin: 0;
}

/*landing page*/

.landing {
    background: url("PIYUSH\ MAAN/2.jpg");
    background-size: contain;
    height: 100vh;
}

/*navigation bar*/

.navbar {
    padding-top: 20px;
    margin: 0 50px 0 50px;
    height: 100px;
}

.logo {
    font-family: poppins;
    color: white;
    float: left;
    font-size: 50px;
}

.navlist {
    float: right;
}

.navlist li {
    font-family: roboto;
    font-weight: 500;
    font-size: 18px;
    margin-right: 20px;
    display: inline;
    color: white;
    list-style: none;
}

.navlist li > button {
    background-color: transparent;
    border: solid white 3px;
    border-radius: 50px;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*landing page heading and intro*/

.heading {
    margin: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading > h2 {
    color: white;
}

.heading > .title {
    color: transparent;
    font-size: 80px;
    font-family: poppins;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.heading > .subtitle {
    font-family: poppins;
    font-weight: 300;
}

.heading > img {
    width: 200px;
    background-color: transparent;
}

.heading > h2 > button {
    font-family: roboto;
    font-weight: 500;
    margin-top: 20px;
    color: black;
    padding: 10px 20px;
    background-color: white;
    border: solid white 3px;
    border-radius: 30px;
    font-size: 18px;
}

/*services page*/

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.services > div > img {
    width: 100%;
}

.services > div > h3 {
    margin-top: 20px;
    font-family: roboto condensed;
}

.services > div > p {
    margin: 20px 0;
    font-family: roboto;
}

.frontend > h2 {
    font-size: 70px;
    color: transparent;
    font-family: poppins;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.frontend > img {
    margin-top: 75px;
}

.frontend {
    width: 25%;
}

.design {
    width: 25%;
    margin-top: 125px;
}

.uiux {
    width: 25%;
}

/* About page*/

.about {
    background: url("PIYUSH\ MAAN/6.jpg");
    background-size: contain;
    height: 100vh;
}

.aboutinfo {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 100px;
    
}

.frame {
    position: relative;
    margin-left: 10%;
}

.innerframeW {
    background-color: white;
    height: 500px;
    width: 300px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerframeW > img {
    height: 490px;
    width: 290px;
    object-fit: cover;
}

.outerframeW {
    background-color: white;
    height: 500px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerframeB {
    background-color: #1a1a1a;
    height: 490px;
    width: 290px;
}

.content {
    margin-left: 10%;
}

.content > h2 {
    margin-top: 100px;
    color: white;
    font-family: poppins;
    font-size: 40px;
}

.content > p {
    font-family: poppins;
    color: white;
    margin-top: 20px;
}

.content > button {
    margin-top: 50px;
    background-color: transparent;
    border: solid white 3px;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*Socials page*/

.connect {
    background-image: url("PIYUSH\ MAAN/8.jpg");
    background-size: cover;
    height: 80vh;
}

.socialscontainer {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.leftconnect {
    margin-left: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.leftconnect > h2 {
    line-height: 1;
    font-family: poppins;
    margin-top: 50px;
    font-size: 80px;
}

.leftconnect > p {
    font-family: poppins;
    margin-top: 20px;
}

.leftconnect > form {
    margin-top: 20px;
}

.leftconnect > form > input[type=submit]{
    margin-top: 20px;
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    padding: 12px 20px;
}

.leftconnect > form > input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.vbar {
    height: 500px;
    width: 5px;
    background-color: #1a1a1a;
}

.rightconnect {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.socials {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials > img {
    height: 50px;
    width: 50px;
}

.socials > p {
    font-family: roboto;
    margin-left: 20px;
    font-size: 25px;
}





