* {
    margin: 0;
}

/*landing page*/

.landing {
    background: url("PIYUSH\ MAAN/2.jpg");
    background-size: contain;
    height: 100vh;

}

/*navigation bar*/

.navbar {
    padding-top: 20px;
    margin: 0 50px 0 50px;
    height: 100px;
}

.logo {
    font-family: poppins;
    color: white;
    float: left;
    font-size: 50px;
}

.navlist {
    float: right;
    padding-top: 15px;
}

.navlist li {
    font-family: roboto;
    font-weight: 500;
    font-size: 18px;
    margin-right: 20px;
    display: inline;
    color: white;
    list-style: none;
}

.navlist li > a {
    display: inline-block;
    position: relative;
    padding: 0.1em 0;
    text-decoration: none;
    color: white;
}

.navlist li > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
.navlist li > a:hover::after,
.navlist li > a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.navlist li > button {
    background-color: transparent;
    border: solid white 3px;
    border-radius: 50px;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.navlist li > button > a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.navlist li > button:hover a {
    color: black;
}

.navlist li > button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/*landing page heading and intro*/

.heading {
    margin: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading > h2 {
    color: white;
}

.heading > .title {
    color: transparent;
    font-size: 80px;
    font-family: poppins;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.heading > .subtitle {
    font-family: poppins;
    font-weight: 300;
}

.heading > img {
    width: 200px;
}

.heading > h2 > button {
    font-family: roboto;
    font-weight: 500;
    margin-top: 20px;
    color: black;
    padding: 10px 20px;
    background-color: white;
    border: solid white 3px;
    border-radius: 30px;
    font-size: 18px;
    transition: 0.3s;
}

.heading > h2 > button > a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

.heading > h2 > button:hover a {
    color: white;
}

.heading > h2 > button:hover {
    background-color: transparent;
    color: white;
}

@media (max-width: 650px) {
    .heading > .title {
        font-size: 50px;
        text-align: center;
    }

    .heading > .subtitle {
        margin-bottom: 100px;
    }
}

/*services page*/

.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

}

.projects > h2 {
    font-size: 70px;
    color: transparent;
    font-family: poppins;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.frontend {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.frontend > div {
    background-color: white;
    height: 250px;
    max-width: 444px;
    aspect-ratio: 16/9;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.frontend > div > img{
    overflow: hidden;
    height: 100%;
    transition: all .2s;
}

.websites-bg {
    transition: 0.2s;
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.websites-bg > h2,
.uiux-projects-bg > h2 {
    opacity: 0;
    color: white;
    transition: 0.5s;
}

.uiux-projects-bg {
    transition: 0.2s;
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: Roboto;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frontend > div:hover {
    opacity: 1;
    background-color: #1a1a1a;
}

.frontend > div:hover img {
    transform: scale(1.25);
    opacity: 0.2;
}

.frontend > div:hover .websites-bg > h2 {
    opacity: 1;
}

.frontend > div:hover .uiux-projects-bg > h2 {
    opacity: 1;
}


.more-work {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 20px 0;
}

.more-work > a {
    font-family: Poppins;
    font-size: 20px;
    display: inline-block;
    position: relative;
    padding: 0.1em 0;
    text-decoration: none;
    color: black;
}

.more-work > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
.more-work > a:hover::after,
.more-work li > a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

@media (max-width: 1000px) {
    .frontend {
        flex-direction: column;
    }

    .frontend > div {
        margin-bottom: 20px;
        background-color: red;
        width: 100%;
        height: 250px;
        aspect-ratio: 16/9;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

}


/* About page*/

.about {
    background: url("PIYUSH\ MAAN/6.jpg");
    background-size: contain;
    background-color: red;
}

.aboutinfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 50%;
    position: relative;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
}

.outerframe {
    background-color: black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid white;
    height: 500px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.innerframe {
    background-color: white;
    height: 500px;
    width: 300px;
    position: absolute;
    top: -20px;
    left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerframe > img {
    height: 490px;
    width: 290px;
    object-fit: cover;
}

.content {
    width: 50%;
    padding-right: 10px;
    padding-bottom: 100px;
}

.content > h2 {
    margin-top: 100px;
    color: white;
    font-family: poppins;
    font-size: 40px;
}

.content > p {
    font-family: poppins;
    color: white;
    margin-top: 20px;
}

.content > button {
    margin-top: 50px;
    background-color: transparent;
    border: solid white 3px;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
}

.content > button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.image2{
    display: none;
}

@media (max-width: 750px) {
    .about > * {
        margin: 0;
        padding: 0;
    }

    .aboutinfo {
        flex-direction: column;
    }

    .aboutinfo > div {
        width: 90%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .frame {
        justify-content: center;
    }

    .frame {
        height: 400px;

    }
    
    .outerframe {
        height: 300px;
    }
    
    .innerframe {
        height: 300px;
    }
    
    .innerframe > img {
        height: 290px;
    }

    .image1 {
        display: none;
    }
   
    .image2 {
        display: block;
    }

    .content > h2 {
        margin-top: 0;
    }

    .content > button {
        margin-bottom: 50px;
    }
}

/*Socials page*/

.connect {
    background-image: url("PIYUSH\ MAAN/8.jpg");
    background-size: cover;
    height: 80vh;
}

.socialscontainer {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.leftconnect {
    margin-left: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.leftconnect > h2 {
    line-height: 1;
    font-family: poppins;
    font-size: 80px;
}

.leftconnect > p {
    font-family: poppins;
    margin-top: 20px;
}

.leftconnect > form {
    margin-top: 20px;
}

.leftconnect > form > button{
    margin-top: 20px;
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    padding: 12px 20px;
    transition: 0.3s;
}

.leftconnect > form > button:hover {
    margin-top: 20px;
    display: block;
    background-color: black;
    border: 2px solid black;
    border-radius: 30px;
    padding: 12px 20px;
    color: white;
}

.leftconnect > form > input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.vbar {
    height: 500px;
    width: 5px;
    background-color: #1a1a1a;
}

.rightconnect {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.socials {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials > img {
    height: 50px;
    width: 50px;
}

.socials > p {
    font-family: roboto;
    margin-left: 20px;
    font-size: 25px;
}

@media (max-width: 1025px) {
    .socialscontainer {
        flex-direction: column;
    }

    .vbar {
        margin-left: 10%;
        width: 80%;
        height: 1px;
        background-color: black;
    }

    .leftconnect {
        width: 80%;
    }

    .leftconnect > form > input[type=text] {
        width: 250px;
        margin-right: 20px;
    }

    .leftconnect > form > input[type=submit] {
        margin-bottom: 40px;
    }

    .rightconnect {
        margin-left: 10%;
    }

}





