* {
    margin: 0;
}

.back {
    width: 10%;
    background-color: red;
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.back > h2 {
    font-size: 30px;
    padding: 10px 5px;
}

/* Heading Section */

.heading {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

/* Website Projects */

.websites {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web-project {
    background-color: red;
    height: 300px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition: 0.3s;
}

.web-project:hover {
    transform: scale(1.02);
}

.project-body {
    height: 100%;
    margin-right: auto;
    margin-left: 5%;
    padding-top: 30px;
}

.project-image > img {
    height: 100%;
    aspect-ratio: 16/9;
}

/* UIUX Projects */

.uiux {
    margin-top: 50px;
    display: grid;
    width: 100%;
    grid-template-columns: 40% 40%;
    grid-template-rows: repeat(2, 300px);
    grid-gap: 10px;
    justify-content: center;
}

.ui-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui-project > img {
    height: 80%;
}

.ui-project > h2 {
    margin-top: 20px;
}